# Parse weather data to use in the hands-on demo

In this notebook we use pandas to scrape weather data from Portuguese cities directly from Wikipedia. 
We massage the data to compile a dataset with monthly averages, high and lows for each city throughout the year.
Then we apply PCA and UMAP on them

In [3]:
# First we load the required libraries
import pandas as pd # Pandas handles dataframes
import seaborn as sns # Seaborn is a convenient library to plot data from dataframes
import numpy as np # Numpy has plenty of useful math functions
import matplotlib.pyplot as plt # Pyplot is a basic plotting library for Python
import urllib

In [2]:
# Read a list of cities in Portugal from Wikipedia
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Portugal#Urban_Areas:_M',header=0,skiprows=1)[0]
df.head(3)

,Position,City,Municipality,2011,2021,Area,Density per km2,Sub-region,Region
0,1.0,Lisbon,Lisbon,552700,545796,100.05 km2,5456.5,Lisbon Metropolitan Area,Lisbon Metropolitan Area
1,2.0,Porto,Porto,237591,231800,41.42 km2,5165.6,Porto Metropolitan Area,North
2,3.0,Vila Nova de Gaia,Vila Nova de Gaia,186502,188421,56.22 km2,3351.8,Porto Metropolitan Area,North

In [3]:
# Replace the spaces in the names of the cities by underscores
cities=df.City.values
cities=[i.replace(' ','_') for i in cities]
df.City=cities

In [4]:
# Read the climate data for the first city from Wikipedia:
#Compose the url address with the Wikipedia address, the name of the city and the climate section
add1='https://en.wikipedia.org/wiki/'
add2='#Climate'
c_name=urllib.parse.quote(cities[0]) # This will just read Lisbon
url_add=add1+c_name+add2
# Get the data
df_w=pd.read_html(url_add, match='Climate data for '+cities[0],index_col=0,header=1)[0]

df_w.head(3)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
Month,,,,,,,,,,,,,
Record high °C (°F),22.6 (72.7),24.8 (76.6),29.4 (84.9),32.4 (90.3),34.8 (94.6),41.5 (106.7),40.6 (105.1),44.0 (111.2),41.4 (106.5),32.6 (90.7),25.3 (77.5),23.2 (73.8),44.0 (111.2)
Mean daily maximum °C (°F),14.8 (58.6),16.2 (61.2),18.8 (65.8),19.8 (67.6),22.1 (71.8),25.7 (78.3),27.9 (82.2),28.3 (82.9),26.5 (79.7),22.5 (72.5),18.2 (64.8),15.3 (59.5),21.3 (70.4)
Daily mean °C (°F),11.6 (52.9),12.7 (54.9),14.9 (58.8),15.9 (60.6),18.0 (64.4),21.2 (70.2),23.1 (73.6),23.5 (74.3),22.1 (71.8),18.8 (65.8),15.0 (59.0),12.4 (54.3),17.4 (63.4)

In [5]:
df_w

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
Month,,,,,,,,,,,,,
Record high °C (°F),22.6 (72.7),24.8 (76.6),29.4 (84.9),32.4 (90.3),34.8 (94.6),41.5 (106.7),40.6 (105.1),44.0 (111.2),41.4 (106.5),32.6 (90.7),25.3 (77.5),23.2 (73.8),44.0 (111.2)
Mean daily maximum °C (°F),14.8 (58.6),16.2 (61.2),18.8 (65.8),19.8 (67.6),22.1 (71.8),25.7 (78.3),27.9 (82.2),28.3 (82.9),26.5 (79.7),22.5 (72.5),18.2 (64.8),15.3 (59.5),21.3 (70.4)
Daily mean °C (°F),11.6 (52.9),12.7 (54.9),14.9 (58.8),15.9 (60.6),18.0 (64.4),21.2 (70.2),23.1 (73.6),23.5 (74.3),22.1 (71.8),18.8 (65.8),15.0 (59.0),12.4 (54.3),17.4 (63.4)
Mean daily minimum °C (°F),8.3 (46.9),9.1 (48.4),11.0 (51.8),11.9 (53.4),13.9 (57.0),16.6 (61.9),18.2 (64.8),18.6 (65.5),17.6 (63.7),15.1 (59.2),11.8 (53.2),9.4 (48.9),13.5 (56.2)
Record low °C (°F),1.0 (33.8),−1.2 (29.8),0.2 (32.4),5.5 (41.9),6.8 (44.2),10.4 (50.7),14.1 (57.4),14.7 (58.5),12.1 (53.8),9.2 (48.6),4.3 (39.7),2.1 (35.8),−1.2 (29.8)
Average rainfall mm (inches),99.9 (3.93),84.9 (3.34),53.2 (2.09),68.1 (2.68),53.6 (2.11),15.9 (0.63),4.2 (0.17),6.2 (0.24),32.9 (1.30),100.8 (3.97),127.6 (5.02),126.7 (4.99),774 (30.47)
Average rainy days (≥ 0.1 mm),15.0,15.0,13.0,12.0,8.0,5.0,2.0,2.0,6.0,11.0,14.0,14.0,117
Mean monthly sunshine hours,142.6,156.6,207.7,234.0,291.4,303.0,353.4,344.1,261.0,213.9,156.0,142.6,2806.3
"Source: Instituto Português do Mar e da Atmosfera,[70] Hong Kong Observatory[71] for data of avg. precipitation days & sunshine hours",Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...,Source: Instituto Português do Mar e da Atmosf...

In [6]:
# Now fix the table a bit
# Replace rainfall by precipitation
df_w.index=[i.replace('rainfall','precipitation') for i in df_w.index.values]
# Keep only the basic data: average high and low temperatures, daily mean and rain for each month
df_w=df_w.loc[['Mean daily maximum °C (°F)','Daily mean °C (°F)','Mean daily minimum °C (°F)','Average precipitation mm (inches)'],:]

df_w.head(3)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
Mean daily maximum °C (°F),14.8 (58.6),16.2 (61.2),18.8 (65.8),19.8 (67.6),22.1 (71.8),25.7 (78.3),27.9 (82.2),28.3 (82.9),26.5 (79.7),22.5 (72.5),18.2 (64.8),15.3 (59.5),21.3 (70.4)
Daily mean °C (°F),11.6 (52.9),12.7 (54.9),14.9 (58.8),15.9 (60.6),18.0 (64.4),21.2 (70.2),23.1 (73.6),23.5 (74.3),22.1 (71.8),18.8 (65.8),15.0 (59.0),12.4 (54.3),17.4 (63.4)
Mean daily minimum °C (°F),8.3 (46.9),9.1 (48.4),11.0 (51.8),11.9 (53.4),13.9 (57.0),16.6 (61.9),18.2 (64.8),18.6 (65.5),17.6 (63.7),15.1 (59.2),11.8 (53.2),9.4 (48.9),13.5 (56.2)

In [7]:
# Now use melt to get the values for each month as separate rows
df_long=df_w.melt(ignore_index=False)
df_long.head(5)

                                  variable        value
Mean daily maximum °C (°F)             Jan  14.8 (58.6)
Daily mean °C (°F)                     Jan  11.6 (52.9)
Mean daily minimum °C (°F)             Jan   8.3 (46.9)
Average precipitation mm (inches)      Jan  99.9 (3.93)
Mean daily maximum °C (°F)             Feb  16.2 (61.2)

In [8]:
# Rename the index
df_long.variable=df_long.index.values+df_long.variable.values
df_long.index=df_long.variable
df_long.drop(columns='variable',inplace=True)
df_long.head(3)

                                     value
variable
Mean daily maximum °C (°F)Jan  14.8 (58.6)
Daily mean °C (°F)Jan          11.6 (52.9)
Mean daily minimum °C (°F)Jan   8.3 (46.9)

In [9]:
# Use the table to make a new dataframe with a single row
df_main=pd.DataFrame(data=df_long.value,columns=df_long.index.values)
df_main.loc[0]=df_long.value.values
df_main

,Mean daily maximum °C (°F)Jan,Daily mean °C (°F)Jan,Mean daily minimum °C (°F)Jan,Average precipitation mm (inches)Jan,Mean daily maximum °C (°F)Feb,Daily mean °C (°F)Feb,Mean daily minimum °C (°F)Feb,Average precipitation mm (inches)Feb,Mean daily maximum °C (°F)Mar,Daily mean °C (°F)Mar,...,Mean daily minimum °C (°F)Nov,Average precipitation mm (inches)Nov,Mean daily maximum °C (°F)Dec,Daily mean °C (°F)Dec,Mean daily minimum °C (°F)Dec,Average precipitation mm (inches)Dec,Mean daily maximum °C (°F)Year,Daily mean °C (°F)Year,Mean daily minimum °C (°F)Year,Average precipitation mm (inches)Year
0,14.8 (58.6),11.6 (52.9),8.3 (46.9),99.9 (3.93),16.2 (61.2),12.7 (54.9),9.1 (48.4),84.9 (3.34),18.8 (65.8),14.9 (58.8),...,11.8 (53.2),127.6 (5.02),15.3 (59.5),12.4 (54.3),9.4 (48.9),126.7 (4.99),21.3 (70.4),17.4 (63.4),13.5 (56.2),774 (30.47)

In [10]:
'''
# Save some time using only the cities with valid data (2024)
v_cities=['Lisbon', 'Porto', 'Braga', 'Coimbra', 'Funchal', 'Setúbal', 'Viseu', 'Leiria', 'Portimão', 'Évora', 'Covilhã', 
'Lagos', 'Abrantes', 'Elvas', 'Tavira', 'Sines', 'Mirandela', 'Machico']
 '''

"\nv_cities=['Lisbon', 'Porto', 'Braga', 'Funchal', 'Coimbra', 'Setúbal', 'Leiria', 'Viseu', 'Portimão', 'Évora', 'Lagos',\n 'Covilhã', 'Abrantes', 'Tavira', 'Elvas', 'Sines', 'Lousã', 'Mirandela', 'Machico']\n "

In [11]:
# Now do the same thing for all the other cities in the list

v_cities=[df.iloc[0].City] # Store the first valid city name (the one we used)

for c in cities[1:]:
    # Make the url; beware there is another Lagos in wikipedia...
    if (c=='Lagos'):
       url_add=add1+urllib.parse.quote('Lagos,_Portugal')+add2
    else:
        url_add=add1+urllib.parse.quote(c)+add2
    print(url_add)

    # Now see if there is a table with weather data
    try:
        df_w=pd.read_html(url_add, match='Climate data for '+c,index_col=0,header=1)[0]
        # If the table is there, see if it has the data we need and transform it
        try:
            
            df_w.index=[i.replace('rainfall','precipitation') for i in df_w.index.values]
            df_w=df_w.loc[['Mean daily maximum °C (°F)','Daily mean °C (°F)','Mean daily minimum °C (°F)','Average precipitation mm (inches)'],:]
            df_long=df_w.melt(ignore_index=False)
            df_long.variable=df_long.index.values+df_long.variable.values
            df_long.index=df_long.variable
            df_long.drop(columns='variable',inplace=True)
            
            # If that worked, add the data to the table we created
            try:
                df_main.loc[len(df_main)]=df_long.value.values
                v_cities.append(c)
            # Throw an error if we can't merge the data (missing values, different table format...)
            except:
                print('Error adding parsed data')
        # Throw an error if there were problems modifying the table
        except:
            print('Error parsing data')
    # Throw an error if we didn't find a table (no table present, bad url...)
    except:
      print("No table for "+c)

https://en.wikipedia.org/wiki/Porto#Climate
https://en.wikipedia.org/wiki/Vila_Nova_de_Gaia#Climate
No table for Vila_Nova_de_Gaia
https://en.wikipedia.org/wiki/Amadora#Climate
Error parsing data
https://en.wikipedia.org/wiki/Braga#Climate
https://en.wikipedia.org/wiki/Coimbra#Climate
https://en.wikipedia.org/wiki/Funchal#Climate
https://en.wikipedia.org/wiki/Set%C3%BAbal#Climate
https://en.wikipedia.org/wiki/Almada#Climate
No table for Almada
https://en.wikipedia.org/wiki/Agualva-Cac%C3%A9m#Climate
No table for Agualva-Cacém
https://en.wikipedia.org/wiki/Queluz#Climate
No table for Queluz
https://en.wikipedia.org/wiki/Rio_Tinto#Climate
No table for Rio_Tinto
https://en.wikipedia.org/wiki/Barreiro#Climate
No table for Barreiro
https://en.wikipedia.org/wiki/Aveiro#Climate
No table for Aveiro
https://en.wikipedia.org/wiki/Viseu#Climate
https://en.wikipedia.org/wiki/Odivelas#Climate
No table for Odivelas
https://en.wikipedia.org/wiki/Guimar%C3%A3es#Climate
No table for Guimarães
https://en.wikipedia.org/wiki/Leiria#Climate
https://en.wikipedia.org/wiki/Faro#Climate
No table for Faro
https://en.wikipedia.org/wiki/Matosinhos#Climate
No table for Matosinhos
https://en.wikipedia.org/wiki/Loures#Climate
No table for Loures
https://en.wikipedia.org/wiki/Portim%C3%A3o#Climate
https://en.wikipedia.org/wiki/P%C3%B3voa_de_Varzim#Climate
No table for Póvoa_de_Varzim
https://en.wikipedia.org/wiki/Amora#Climate
No table for Amora
https://en.wikipedia.org/wiki/Maia#Climate
No table for Maia
https://en.wikipedia.org/wiki/%C3%89vora#Climate
https://en.wikipedia.org/wiki/Montijo#Climate
No table for Montijo
https://en.wikipedia.org/wiki/Ponta_Delgada#Climate
No table for Ponta_Delgada
https://en.wikipedia.org/wiki/Santa_Maria_da_Feira#Climate
No table for Santa_Maria_da_Feira
https://en.wikipedia.org/wiki/Ermesinde#Climate
No table for Ermesinde
https://en.wikipedia.org/wiki/Viana_do_Castelo#Climate
No table for Viana_do_Castelo
https://en.wikipedia.org/wiki/Vila_Nova_de_Famalic%C3%A3o#Climate
No table for Vila_Nova_de_Famalicão
https://en.wikipedia.org/wiki/Castelo_Branco#Climate
No table for Castelo_Branco
https://en.wikipedia.org/wiki/Covilh%C3%A3#Climate
https://en.wikipedia.org/wiki/Alverca_do_Ribatejo#Climate
No table for Alverca_do_Ribatejo
https://en.wikipedia.org/wiki/Seixal#Climate
No table for Seixal
https://en.wikipedia.org/wiki/Santar%C3%A9m#Climate
No table for Santarém
https://en.wikipedia.org/wiki/Figueira_da_Foz#Climate
No table for Figueira_da_Foz
https://en.wikipedia.org/wiki/Vila_do_Conde#Climate
No table for Vila_do_Conde
https://en.wikipedia.org/wiki/P%C3%B3voa_de_Santa_Iria#Climate
No table for Póvoa_de_Santa_Iria
https://en.wikipedia.org/wiki/Olh%C3%A3o#Climate
No table for Olhão
https://en.wikipedia.org/wiki/Caldas_da_Rainha#Climate
No table for Caldas_da_Rainha
https://en.wikipedia.org/wiki/Vila_Real#Climate
No table for Vila_Real
https://en.wikipedia.org/wiki/Santo_Tirso#Climate
No table for Santo_Tirso
https://en.wikipedia.org/wiki/Gondomar#Climate
No table for Gondomar
https://en.wikipedia.org/wiki/Senhora_da_Hora#Climate
No table for Senhora_da_Hora
https://en.wikipedia.org/wiki/Valongo#Climate
No table for Valongo
https://en.wikipedia.org/wiki/Guarda#Climate
No table for Guarda
https://en.wikipedia.org/wiki/Sacav%C3%A9m#Climate
No table for Sacavém
https://en.wikipedia.org/wiki/Bragan%C3%A7a#Climate
No table for Bragança
https://en.wikipedia.org/wiki/S%C3%A3o_Mamede_de_Infesta#Climate
No table for São_Mamede_de_Infesta
https://en.wikipedia.org/wiki/Beja#Climate
No table for Beja
https://en.wikipedia.org/wiki/S%C3%A3o_Jo%C3%A3o_da_Madeira#Climate
No table for São_João_da_Madeira
https://en.wikipedia.org/wiki/Albufeira#Climate
Error parsing data
https://en.wikipedia.org/wiki/Chaves#Climate
No table for Chaves
https://en.wikipedia.org/wiki/Espinho#Climate
No table for Espinho
https://en.wikipedia.org/wiki/Cani%C3%A7o#Climate
No table for Caniço
https://en.wikipedia.org/wiki/Barcelos#Climate
No table for Barcelos
https://en.wikipedia.org/wiki/Paredes#Climate
No table for Paredes
https://en.wikipedia.org/wiki/Entroncamento#Climate
No table for Entroncamento
https://en.wikipedia.org/wiki/Lagos%2C_Portugal#Climate
https://en.wikipedia.org/wiki/Torres_Vedras#Climate
No table for Torres_Vedras
https://en.wikipedia.org/wiki/Quarteira#Climate
No table for Quarteira
https://en.wikipedia.org/wiki/Abrantes#Climate
https://en.wikipedia.org/wiki/Trofa#Climate
No table for Trofa
https://en.wikipedia.org/wiki/Ovar#Climate
No table for Ovar
https://en.wikipedia.org/wiki/Vila_Franca_de_Xira#Climate
No table for Vila_Franca_de_Xira
https://en.wikipedia.org/wiki/Fafe#Climate
No table for Fafe
https://en.wikipedia.org/wiki/Oliveira_de_Azem%C3%A9is#Climate
No table for Oliveira_de_Azeméis
https://en.wikipedia.org/wiki/Felgueiras#Climate
No table for Felgueiras
https://en.wikipedia.org/wiki/Loul%C3%A9#Climate
No table for Loulé
https://en.wikipedia.org/wiki/Pa%C3%A7os_de_Ferreira#Climate
No table for Paços_de_Ferreira
https://en.wikipedia.org/wiki/%C3%81gueda#Climate
No table for Águeda
https://en.wikipedia.org/wiki/Elvas#Climate
https://en.wikipedia.org/wiki/C%C3%A2mara_de_Lobos#Climate
No table for Câmara_de_Lobos
https://en.wikipedia.org/wiki/Portalegre#Climate
No table for Portalegre
https://en.wikipedia.org/wiki/Tomar#Climate
No table for Tomar
https://en.wikipedia.org/wiki/Valbom#Climate
No table for Valbom
https://en.wikipedia.org/wiki/Tavira#Climate
https://en.wikipedia.org/wiki/Alfena#Climate
No table for Alfena
https://en.wikipedia.org/wiki/Peniche#Climate
No table for Peniche
https://en.wikipedia.org/wiki/Gafanha_da_Nazar%C3%A9#Climate
No table for Gafanha_da_Nazaré
https://en.wikipedia.org/wiki/Costa_da_Caparica#Climate
No table for Costa_da_Caparica
https://en.wikipedia.org/wiki/Ribeira_Grande#Climate
No table for Ribeira_Grande
https://en.wikipedia.org/wiki/Sines#Climate
https://en.wikipedia.org/wiki/Torres_Novas#Climate
No table for Torres_Novas
https://en.wikipedia.org/wiki/Amarante#Climate
No table for Amarante
https://en.wikipedia.org/wiki/Esmoriz#Climate
No table for Esmoriz
https://en.wikipedia.org/wiki/Pombal#Climate
No table for Pombal
https://en.wikipedia.org/wiki/Samora_Correia#Climate
No table for Samora_Correia
https://en.wikipedia.org/wiki/Almeirim#Climate
No table for Almeirim
https://en.wikipedia.org/wiki/Vila_Real_de_Santo_Ant%C3%B3nio#Climate
No table for Vila_Real_de_Santo_António
https://en.wikipedia.org/wiki/Lamego#Climate
No table for Lamego
https://en.wikipedia.org/wiki/Vizela#Climate
No table for Vizela
https://en.wikipedia.org/wiki/Mirandela#Climate
https://en.wikipedia.org/wiki/Marinha_Grande#Climate
No table for Marinha_Grande
https://en.wikipedia.org/wiki/Esposende#Climate
No table for Esposende
https://en.wikipedia.org/wiki/%C3%8Dlhavo#Climate
No table for Ílhavo
https://en.wikipedia.org/wiki/Cartaxo#Climate
No table for Cartaxo
https://en.wikipedia.org/wiki/Penafiel#Climate
No table for Penafiel
https://en.wikipedia.org/wiki/Marco_de_Canaveses#Climate
No table for Marco_de_Canaveses
https://en.wikipedia.org/wiki/F%C3%A1tima#Climate
No table for Fátima
https://en.wikipedia.org/wiki/Freamunde#Climate
No table for Freamunde
https://en.wikipedia.org/wiki/Machico#Climate
https://en.wikipedia.org/wiki/Mangualde#Climate
No table for Mangualde
https://en.wikipedia.org/wiki/Lordelo#Climate
No table for Lordelo
https://en.wikipedia.org/wiki/Vendas_Novas#Climate
No table for Vendas_Novas
https://en.wikipedia.org/wiki/Rio_Maior#Climate
No table for Rio_Maior
https://en.wikipedia.org/wiki/Albergaria-a-Velha#Climate
No table for Albergaria-a-Velha
https://en.wikipedia.org/wiki/Tondela#Climate
No table for Tondela
https://en.wikipedia.org/wiki/Rebordosa#Climate
No table for Rebordosa
https://en.wikipedia.org/wiki/Vila_Nova_de_Santo_Andr%C3%A9#Climate
No table for Vila_Nova_de_Santo_André
https://en.wikipedia.org/wiki/Lagoa#Climate
No table for Lagoa
https://en.wikipedia.org/wiki/Peso_da_R%C3%A9gua#Climate
No table for Peso_da_Régua
https://en.wikipedia.org/wiki/Angra_do_Hero%C3%ADsmo#Climate
No table for Angra_do_Heroísmo
https://en.wikipedia.org/wiki/Lourosa#Climate
No table for Lourosa
https://en.wikipedia.org/wiki/Montemor-o-Novo#Climate
No table for Montemor-o-Novo
https://en.wikipedia.org/wiki/Fund%C3%A3o#Climate
No table for Fundão
https://en.wikipedia.org/wiki/Estarreja#Climate
No table for Estarreja
https://en.wikipedia.org/wiki/Ponte_de_Sor#Climate
No table for Ponte_de_Sor
https://en.wikipedia.org/wiki/Fi%C3%A3es#Climate
No table for Fiães
https://en.wikipedia.org/wiki/Moura#Climate
No table for Moura
https://en.wikipedia.org/wiki/Santa_Cruz#Climate
No table for Santa_Cruz
https://en.wikipedia.org/wiki/Estremoz#Climate
No table for Estremoz
https://en.wikipedia.org/wiki/Vale_de_Cambra#Climate
No table for Vale_de_Cambra
https://en.wikipedia.org/wiki/Horta#Climate
No table for Horta
https://en.wikipedia.org/wiki/Santa_Comba_D%C3%A3o#Climate
No table for Santa_Comba_Dão

In [12]:
# Now turn all the values to actual numbers; replace commas with dots 
df_main.replace(to_replace="\(.*\)", value='', regex=True, inplace=True)
df_main.replace(to_replace=",", value='.', regex=False, inplace=True)
df_main['Average precipitation mm (inches)Year'].replace(to_replace=",", value='', regex=True, inplace=True)
df_main=df_main.apply(pd.to_numeric)

In [13]:
df.columns

Index(['Position', 'City', 'Municipality', '2011', '2021', 'Area',
       'Density per km2', 'Sub-region', 'Region'],
      dtype='object')

In [14]:
# Add labels for city and region
df_main['City']=v_cities
df_main=df_main.merge(df[['Sub-region','Region','City']],left_on='City',right_on='City')

In [17]:
# Add the rest of the data, just in case
df_main=df_main.merge(df[['City','2021', 'Area','Density per km2',]],left_on='City',right_on='City')

In [18]:
# Behold our new dataset!
df_main.head(3)

,Mean daily maximum °C (°F)Jan,Daily mean °C (°F)Jan,Mean daily minimum °C (°F)Jan,Average precipitation mm (inches)Jan,Mean daily maximum °C (°F)Feb,Daily mean °C (°F)Feb,Mean daily minimum °C (°F)Feb,Average precipitation mm (inches)Feb,Mean daily maximum °C (°F)Mar,Daily mean °C (°F)Mar,...,Mean daily maximum °C (°F)Year,Daily mean °C (°F)Year,Mean daily minimum °C (°F)Year,Average precipitation mm (inches)Year,City,Sub-region,Region,2021,Area,Density per km2
0,14.8,11.6,8.3,99.9,16.2,12.7,9.1,84.9,18.8,14.9,...,21.3,17.4,13.5,774.0,Lisbon,Lisbon Metropolitan Area,Lisbon Metropolitan Area,545796,100.05 km2,5456.5
1,13.8,9.5,5.2,147.1,15.0,10.4,5.9,110.5,17.4,12.6,...,19.6,15.2,10.7,1237.0,Porto,Porto Metropolitan Area,North,231800,41.42 km2,5165.6
2,13.7,9.0,4.3,176.4,14.8,9.9,4.9,114.8,17.6,12.3,...,20.3,15.0,9.6,1448.6,Braga,Cávado,North,146543,61.38 km2,2351.9

In [19]:
df_main.to_csv('weather_data_Pt.csv')

In [4]:
df_main=pd.read_csv('weather_data_Pt.csv',index_col=0)

In [7]:
df_temp=df_main[[i  for i in df_main.columns if '°C' in i]]
df_temp.index=df_main.City

In [12]:
df_temp=df_temp.iloc[:,:-1]

In [8]:
df_rain=df_main[[i  for i in df_main.columns if 'precipitation' in i]]
df_rain.index=df_main.City

In [10]:
df_rain=df_rain.iloc[:,:-1]

In [16]:
df_cities=df_main.iloc[:,-5:]
df_cities.index=df_main.City

In [17]:
df_temp.to_csv('Pt_temp.csv')
df_rain.to_csv('Pt_rain.csv')
df_cities.to_csv('Pt_cities.csv')